
<%= render "masthead" %>

<div class="row">
  <div class="medium-4 columns">

  	<% i = 0 %> 
		<% @articles.reverse.each do |article| %>
				<% unless i > 7 %>		
					<%= image_tag(article.image_path, size: "100x100") %>
					<h4><%= link_to article.headline, article %></h4>
					<p><%= article.standfirst %></p>
				<% end %>
			<% i += 1 %>
		<% end %>
	</div>

	<div class="medium-4 columns">
	
  	<% i = 0 %> 
		<% @articles.each do |article| %>
				<% unless i > 7 %>		
					<%= image_tag(article.image_path, size: "100x100") %>
					<h4><%= link_to article.headline, article %></h4>
					<p><%= article.standfirst %></p>
				<% end %>
			<% i += 1 %>
		<% end %>
	</div>


	<div class="medium-4 columns">
		<br>
		<%= image_tag(@ads[0].image_path, size: "310x500") %>
		<br>
		<br>
		<%= image_tag(@ads[0].image_path, size: "310x500") %>
		<br>
		<br>
		<%= image_tag(@ads[0].image_path, size: "310x500") %>
		<br>

	</div>

</div>