
<%= render "masthead" %>

<% content_for :search do %>
  <div class="large-8 small-9 columns">
  <%= search_form_for @search do |f| %>
    <%= f.text_field :headline_cont, class: "radius-left expand", placeholder: "Type here." %>
  </div>
    <div class="large-4 small-3 columns">
      <%= f.submit "Search", class: "radius-right button" %>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="medium-4 columns">

  	<% i = 0 %> 
		<% @articles.reverse.each do |article| %>
				<% unless i > 7 %>		
					<%= image_tag(article.image.thumb.url) %>
					<h4><%= link_to article.headline, article %></h4>
					<p><%= article.standfirst %></p>
				<% end %>
			<% i += 1 %>
		<% end %>
	</div>

	<div class="medium-4 columns">
	
  	<% i = 0 %> 
		<% @articles.each do |article| %>
				<% unless i > 7 %>		
					<%= image_tag(article.image.thumb.url) %>
					<h4><%= link_to article.headline, article %></h4>
					<p><%= article.standfirst %></p>
				<% end %>
			<% i += 1 %>
		<% end %>
	</div>


	<div class="medium-4 columns">

		<%= render "ads" %>

	</div>

</div>