
<%= render "masthead" %>

<% content_for :search do %>
  <div class="large-8 small-9 columns">
  <%= search_form_for @search do |f| %>
    <%= f.text_field :headline_or_standfirst_or_caption_or_content_or_author_cont, class: "radius-left expand", placeholder: "Search" %>
  </div>
    <div class="large-4 small-3 columns">
      <%= f.submit "Search", class: "radius-right button" %>
    </div>
  <% end %>
<% end %>

<div class="row">

<div class="medium-8 columns">

<%= image_tag(@top_article.image.url, size: "450x315") %>
<h4><%= link_to @top_article.headline, @top_article %></h4>
<h5><%= @top_article.standfirst %></h5>

  <div class="medium-6 columns">

  	<% i = 0 %> 
		<% @articles.reverse.each do |article| %>
				<% unless i > 7 %>		
					<%= image_tag(article.image.thumb.url) %>
					<h4><%= link_to article.headline, article %></h4>
					<h5><%= article.standfirst %></h5>
				<% end %>
			<% i += 1 %>
		<% end %>
	</div>

	<div class="medium-6 columns">
	
  	<% i = 0 %> 
		<% @articles.each do |article| %>
				<% unless i > 7 %>		
					<%= image_tag(article.image.thumb.url) %>
					<h4><%= link_to article.headline, article %></h4>
					<p><%= article.standfirst %></p>
				<% end %>
			<% i += 1 %>
		<% end %>
	</div>



</div>

	<div class="medium-4 columns">

		<%= render "ads" %>

	</div>

</div>