<div class="row">

	<div class="medium-8 columns">

		<h1><%= @article.headline %></h1>		
		<h5><%= @article.standfirst %></h5>		
		<%= image_tag(@article.image.url, size:"450x315") %>
		<p><%= @article.caption %></p>
		<p>by <%= @article.author %></p>

		<% if user_signed_in? %>

			<%= @article.content %>
			<br>
			<br>
	
			<p>
			<% if @article.comments.count > 0 %>
			<b><%= @article.comments.count %> comments:</b>

				<% @article.comments.each do |comment| %>
					<p><b><%= comment.title %></b></p>
					<%# writer = comment.user_id %>
					<p><i>by <%#= User.find_by(id: writer.to_i).username %></i></p>
					<p><%= comment.comment %></p>
					<hr>
				<% end %>

				<b><%= current_user.name %> - add a comment to this article:</b>
			<% else %>
				<b>Be the first to comment on this article.</b>
			<% end %>
			</p>
	
			<p>
				<%= form_tag "/articles/#{@article.id}/add_new_comment" do %>
					<%= hidden_field_tag "id", :id %>
					<%= text_field_tag "comment[title]" %>
					<%= text_area_tag "comment[comment]" %>
					<%= submit_tag "Post Comment", class: "button radius" %>
				<% end %>
			</p>
		<% else %>

		<p><%= @article.content.slice(0..350) %>...</p>

		<p><b><%= link_to "Log in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %> to see more content.</b></p>

		<% end %>
		
	</div>
	<div class="medium-4 columns">
		<%= render "ads" %>
	</div>


</div>