<div class="row">

	<div class="medium-8 columns">

		<h1><%= @article.headline %></h1>		
		<h5><%= @article.standfirst %></h5>		
		<%= image_tag(@article.image.url, size:"450x315") %>
		<p><%= @article.caption %></p>
		<p>by <%= @article.author %></p>
		<%= @article.content %>
		
	</div>
	<div class="medium-4 columns">
		<%= render "ads" %>
	</div>


</div>