<div class="row">

  <%= render "masthead" %>

  <div class="medium-8 columns">

    <h1><%= @topic.name %></h1>

    <% @articles.each do |article| %>
      <% if article.topic_ids.include?(@topic.id) %>
        <%= image_tag(article.image.thumb.url, class: "thumbnail") %>
        <h4><%= link_to article.headline, article %></h4>
        <p><%= article.standfirst %></p>
        <br>
      <% end %>
    <% end %>
  </div>

  <div class="medium-4 columns">
    <%= render "ads" %>
  </div>

</div>